	*{
		marggin: 0;
		box-sizing: border-box;
		padding: 0;
/*		outline: solid 1px black;*/
	}

	.form {
		border: solid 1px black;
		margin-left: 90px;
		font-family: 'Open Sans', sans-serif;
	}

	.login-img {
		border: solid 1px yellow;
	}

	.login-txt{
		font-size: 3em;
		font-family: 'Italiana', serif;
		font-weight: 700;
	}

	input {
		width: 50vh;
		outline: none;
		border-top: none;
		border-right: none;
		border-left: none;
		border-bottom: solid 1px black;
	}

	label{
		position: absolute;
		left: 59%;
		height: 55px;
	}

	::placeholder {
		font-family: 'Roboto', sans-serif;
	}


	.landing-img {
		background-image: url("https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?cs=srgb&dl=pexels-pixabay-258154.jpg&fm=jpg");
		background-size: cover;
		height: 90vh;
		  width: 100%;
		background-position: center	;
	}

	.welcome:first-of-type {
		content: "";
		border-top: 3px solid white;
		border-right: 3px solid white;
	}

	.awesome:last-of-type {
		content: "";
		border-bottom: 3px solid white;
		border-left: 3px solid white;
	}

	.welcome {
		font-size: 5.3rem;
		margin-top: 4%;
		margin-left: 13%;
		font-family: 'Source Serif Pro', serif;
		font-weight: 700;
		padding-bottom: 25px;
		width: 30%;

	}

	.awesome {
		font-size: 5.3rem;
		margin-left: 10%;
		font-family: 'Source Serif Pro', serif;
		font-weight: 700;
		margin-top: -10%;
		width: 30%;
		padding-bottom: 25px;
	}

	.txt-landing-container {
		padding-top: 200s%;
	}

	span{
		font-size: 9rem;
	}

	.W {
		padding: 0;
		margim: 0;
		gap: 0;
	}

	.book-btn-home {
		border: solid 1px white;
		height: 35px;
		width: 150px;
		margin-left: 29%;
		font-family: 'Noto Serif', serif;
		background-color: whitesmoke;
		color: black;
		font-size: 1.2em;
		margin-top: -0.5%;
	}

/*
	@media (max-width: 576px) {


		.welcome {
			font-size: 2.3rem;
			margin-top: 4%;
			margin-left: 2%;
			font-family: 'Source Serif Pro', serif;
			font-weight: 700;
			padding-bottom: 25px;
			width: 30%;

		}

		 
		span{
			font-size: 3rem;
		}

		.awesome {
			font-size: 2.3rem;
			margin-left: 10%;
			font-family: 'Source Serif Pro', serif;
			font-weight: 700;
			margin-top: -10%;
			width: 30%;
			padding-bottom: 25px;
		}

		.book-btn-home {
			border: solid 1px white;
			height: 15px;
			width: 80px;
			margin-left: 20%;
			font-family: 'Noto Serif', serif;
			background-color: whitesmoke;
			color: black;
			font-size: .8em;
			margin-top: -3%;
		}

		.landing-img {
			background-image: url("https://static.wixstatic.com/media/ac77ad_d1d83e149f3f437192d80601f6f082de~mv2.jpg/v1/fill/w_2500,h_1406,al_c/ac77ad_d1d83e149f3f437192d80601f6f082de~mv2.jpg");
			background-size: cover;
			height: 50vh;
			  width: 100%;
			background-position: center	;
		}


	}*/

	.link{
		text-decoration: none;
		color: black;
	}

	.link-nav{
		text-decoration: none;
		color: whitesmoke;
		background-color: black;
		padding-top: 5px;
		padding-left: 14px;
		padding-right: 14px;
		padding-bottom: 5px;
		width: 150;
		border-radius: 25px;
		display: flex;
		align-items: center;
	}

	 	/* Home page room section */

	.rooms-headline{
		font-family: 'Scheherazade New', serif;
		color: black;
		text-shadow: 1px 1px 1px black;
		font-size: 2em;
	}
	.rooms-headline-description{
		font-size: 1.2em;
		font-family: 'Scheherazade New', serif;
		width: 80%;
		color: black;
	}

	.rooms-des-container{
		display: flex;
		justify-content: center;
		text-align: justify;
	}
	.image1 {
	    object-fit: cover;
	    height: 100%;
	    max-width: 250px;

	}
	.image2 {
	    max-width: 250px;
	    height: 100%;
	    object-fit: cover;

	}

	.image3 {
	    max-width: 250px;
	    height: 100%;
	    object-fit: cover;
	 
	}

	.image4 {
	    max-width: 250px;
	    height: 100%;
	    object-fit: cover;
	}

	.image5 {
	    max-width: 250px;
	    height: 100%;
	    object-fit: cover;
	}

	.slider:hover{
	  max-width: 100%;
	  transition: all 0.8sec
	}

	.image1:hover {
	 transform: scale(1.2);
	}

	.image2:hover {
	  transform: scale(1.2);
	}

	.image3:hover {
	  transform: scale(1.2);
	}

	.image4:hover {
	  transform: scale(1.2);
	}

	.image5:hover {
	  transform: scale(1.2);
	}

	.see-all-rooms-btn{
		width: 150px;
		height: 40px;
		background-color: black;
		font-family: 'Noto Serif', serif;
		border-radius: 25px;
	}

	.link-rooms{
		text-decoration: none;
		color: whitesmoke;
	}

		/* Home page Dining Section Designs */

	.container-fluid.dining-page-container .row {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}

	.container-fluid.dining-page-container .dining-img-container {
	  flex: 0 0 50%;
	  margin-right: 30px;
	  border: solid 1px whitesmoke;
	  box-shadow: 3px 0px 9px 0px rgba(0,0,0,0.33);
	  -webkit-box-shadow: 3px 0px 9px 0px rgba(0,0,0,0.33);
	  -moz-box-shadow: 3px 0px 9px 0px rgba(0,0,0,0.33);
	  padding-top: 20px;
	  padding-bottom: 20px;
	  padding-right: 20px;
	  padding-left: 20px;
	}

	.dining-img {
		border: solid 1px whitesmoke;
		box-shadow: 3px 0px 9px 0px rgba(0,0,0,0.33);
		-webkit-box-shadow: 3px 0px 9px 0px rgba(0,0,0,0.33);
		-moz-box-shadow: 3px 0px 9px 0px rgba(0,0,0,0.33);
		padding: 15px;
	}


	.container-fluid.dining-page-container .img-fluid {
	  width: 100%;
	  border-radius: 8px;
	  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
	}

	.container-fluid.dining-page-container .dining-des-container {
	  width: 40%;
	 
	  font-family: 'Scheherazade New', serif;
	}

	.container-fluid.dining-page-container .dining-headline {
	  font-size: 40px;
	  font-weight: 700;
	  text-align: center;
	  margin-bottom: 30px;
	  color: #333;
	  text-transform: uppercase;
	}

	.small-gold-line-2 {
		width: 70px;
		border-top: solid 2px gold;
		height: 1px;
		margin-left: 43%;
		margin-top: -5%;
	}

	.small-gold-line-1 {
		width: 80px;
		border-top: solid 2px gold;
		height: 1px;
		margin-left: 48%;
	}

	.container-fluid.dining-page-container .dining-des {
	  font-size: 18px;
	  line-height: 1.6;
	  color: black;
	}

	@media (max-width: 767px) {
	  .container-fluid.dining-page-container .row {
	    flex-direction: column;
	  }
	  
	  .container-fluid.dining-page-container .dining-img {
	    padding-right: 0;
	    padding-bottom: 30px;
	  }
	  
	  .container-fluid.dining-page-container .dining-des-container {
	    padding-left: 15px;
	    padding-right: 15px;
	  }
	}

		/* Home page menu section designs */
	.menu-container {
		border: solid 3px whitesmoke;
		box-shadow: 3px 0px 9px 0px rgba(0,0,0,0.33);
		-webkit-box-shadow: 3px 0px 9px 0px rgba(0,0,0,0.33);
		-moz-box-shadow: 3px 0px 9px 0px rgba(0,0,0,0.33);
	}


	.menu {
		border: solid 2px whitesmoke;
	}


	.menu-des{
		background-color: #F1D4E5;
		margin: 0;
		padding: 0;
	}

	.appetizer-menu-img {
		float: left;
	}


	/* Room page designs (book now) */

	body {
	  background-color: #f7f7f7;
	}

	.container {
	  background-color: #fff;
	  margin: 0 auto;
	  max-width: 1200px;
	  padding: 20px;
	}

	.rooms-page-container {
		border: solid 3px whitesmoke;
	}

	.row {
	  display: flex;
	  flex-wrap: wrap;
	  margin: -10px;
	}

	.col-9 {
	  flex: 0 0 75%;
	  max-width: 75%;
	  padding: 10px;
	}

	.col-4 {
	  flex: 0 0 33.33%;
	  max-width: 33.33%;
	  padding: 10px;
	}

	.col-7 {
	  flex: 0 0 58.33%;
	  max-width: 58.33%;
	  padding: 10px;
	}

	.py-1 {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}

	.pt-4 {
	  padding-top: 40px;
	}

	.images {
	  width: 100%;
	  max-height: 300px;
	  object-fit: cover;
	  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	  border-radius: 8px;
	}

	.room-name {
	  font-size: 24px;
	  font-weight: bold;
	  margin-bottom: 10px;
	}

	.price {
	  font-size: 16px;
	  color: #888;
	  margin-top: 20px;
	}

	.text-secondary {
	  color: #888;
	}

	.comments {
	  padding: 10px;
	  background-color: #f9f9f9;
	}

	.profile-pic-comments {
	  width: 50px;
	  height: 50px;
	  border-radius: 50%;
	}

	.commenter-name {
	  font-weight: bold;
	}

	.date {
	  color: #888;
	  margin-bottom: 10px;
	}

	.stars {
	  color: #ffcc00;
	}

	.stars .fa-star {
	  font-size: 20px;
	}

	.stars .fa-star.checked {
	  color: #ffcc00;
	}

	.rooms-booknow-bt {
	  display: block;
	  margin-top: 20px;
	  padding: 10px 20px;
	  background-color: #007bff;
	  color: #fff;
	  font-weight: bold;
	  text-align: center;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	  text-transform: uppercase;
	  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	  margin-left: 60%;
	  margin-top: -10%;
	}

	.rooms-booknow-bt:hover {
	  background-color: #0056b3;
	}

	/* MODAL DESIGN */

	/* Modal styles */
	.modal-content {
	  border-radius: 0;
	}

	.modal-header {
	  background-color: #f8f9fa;
	  border-bottom: none;
	  padding: 1rem;
	  text-align: center;
	}

	.modal-title {
	  font-size: 1.5rem;
	  font-weight: bold;
	}

	.modal-body {
	  padding: 1rem;
	}

	.modal-footer {
	  background-color: #f8f9fa;
	  border-top: none;
	  padding: 1rem;
	  text-align: center;
	}

	/* Form styles */
	.form-group {
	  margin-bottom: 1.5rem;
	}

	.form-label {
	  display: block;
	  font-weight: bold;
	  margin-bottom: 0.5rem;
	}

	.form-control {
	  border-radius: 0;
	  box-shadow: none;
	}

	.form-control:focus {
	  box-shadow: none;
	}

	/* Button styles */
	.button {
	  border-radius: 0;
	  font-weight: bold;
	  margin-right: 0.5rem;
	  padding: 0.5rem 1rem;
	}

	.button:last-child {
	  margin-right: 0;
	}

	.button-secondary {
	  background-color: #6c757d;
	  border: none;
	  color: #fff;
	}

	.button-primary {
	  background-color: #007bff;
	  border: none;
	  color: #fff;
	}




/* Comment Section */
	.room-section{
		background-color: #FFF5B8;
	}

	.profile-pic-comments {
		height: 70px;
	}

	.commenter-name{
		margin-top: -20%;
		margin-left: 30%;
		font-size: 1.3em;
		color: #374259;
	}

	.date {
		font-size: 0.8em;
		margin-left: 30%;
		margin-top: -8%;
	}

	.checked {
		color: yellow;
	}

	.stars {
		padding-left: 2%;
	}

	.navlinks {
		margin-left: 37%;
		font-size: 	1rem;
		font-family: 'Open Sans', sans-serif;	
	}

	.logo {
		margin-left: 5%;
		font-size: 5em;
	}




	/* CONTACT US SECTION */

	#contact-us {
	  padding: 80px 0;
	  font-family: 'Pacifico', cursive;
	  font-size: 2em;
	  font-size: bold;

	}

	.contact-bg {
	  background-image: url("https://images.unsplash.com/photo-1503756234508-e32369269deb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8c2VhfGVufDB8fDB8fHww&w=1000&q=80");
	  background-size: cover;
	  background-position: center;
	  padding: 80px 0;
	}

	#contact-us h2 {
	  font-size: 36px;
	  font-weight: 700;
	  color: #fff;
	  text-align: center;
	  margin-bottom: 40px;
	}

	#contact-us form {
	  background-color: rgba(255, 255, 255, 0.9);
	  padding: 40px;
	  border-radius: 4px;
	  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	}

	#contact-us form label {
	  font-size: 16px;
	  font-weight: 600;
	  color: #333;
	}

	#contact-us form input,
	#contact-us form textarea {
	  background-color: #f9f9f9;
	  border: none;
	  border-radius: 4px;
	  padding: 12px;
	  margin-bottom: 20px;
	}

	#contact-us form textarea {
	  resize: none;
	}

	#contact-us form button {
	  background-color: #007bff;
	  color: #fff;
	  border: none;
	  border-radius: 4px;
	  padding: 12px 30px;
	  font-size: 16px;
	  font-weight: 600;
	  transition: background-color 0.3s ease;
	}

	#contact-us form button:hover {
	  background-color: #0056b3;
	}
	.contact-us-txt {
		padding-top: 45%;
	}

	@media (max-width: 768px) {
	  #contact-us form,
	  .weather-info {
	    padding: 30px;
	  }
	}


	/* Booking Page */

	.booking-container {
		border-radius: 25px;
		font-family: 'Open Sans', sans-serif;	
		background-color: white;
	}

	.bg-img-booking {
		background: rgb(204,75,0);
		background: linear-gradient(120deg, rgba(204,75,0,1) 0%, rgba(236,128,32,1) 0%, rgba(194,229,156,1) 0%, rgba(100,179,244,1) 100%);
	}

	.booking-headline-2 {
		font-weight: bold;

	}

	.booking-details {
		margin-left: 52%;
		margin-top: -65%;
	}

	.order-image{
		border-radius: 25px;
	}


	/* ACTIVITIES PAGE */

	.activities-picture-height {
		height: 70vh;
		background-image: url("https://boardwalkbeachhotel.com/wp-content/themes/Boardwalk/images/slider/amenities_1.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.row {
		gap: 30px;
	}

	.img2 {
		background-image: url("https://images.unsplash.com/photo-1612872087720-bb876e2e67d1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhY2glMjB2b2xsZXliYWxsfGVufDB8fDB8fHww&w=1000&q=80");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.img3 {
		background-image: url("https://media.istockphoto.com/id/98462741/photo/woman-on-a-jet-ski-in-the-ocean-during-the-sunset.jpg?s=612x612&w=0&k=20&c=g9HmcHRRymmuvrLauI_PQT0R50kW0rPOohRnCOcSHDY=");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.img4 {
		height: 70vh;
		background-image: url("https://i.pinimg.com/originals/10/61/99/106199a5cf60462218fa959c87448a61.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.img5 {
		height: 70vh;
		background-image: url("https://mybartender.com/wp-content/uploads/2023/03/beach-cocktails-720x720.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.img6 {
		height: 70vh;
		background-image: url("https://www.hotelcontractbeds.co.uk/media/4683/relaxing-by-the-pool.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	/* FOOTER HOME PAGE */

	.footer {
	  background-color: #f8f8f8;
	  padding: 40px 0;
	}

	.container {
	  max-width: 1200px;
	  margin: 0 auto;
	  padding: 0 15px;
	}

	.footer-content {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  font-family: 'Open Sans', sans-serif;
	  color: black;

	}

	.footer-column {
	  flex: 1 1 300px;
	  margin-bottom: 20px;
	}

	.footer-column h3 {
	  font-size: 20px;
	  font-weight: bold;
	  margin-bottom: 10px;
	}

	.footer-column p {
	  color: black;
	  line-height: 1.5;
	}

	.footer-column ul {
	  padding: 0;
	  list-style-type: none;
	}

	.footer-column ul li {
	  margin-bottom: 8px;
	}

	.footer-column ul li a {
	  color: black;
	  text-decoration: none;
	}

	.subscribe-form {
	  display: flex;
	  align-items: center;
	  margin-top: 20px;
	}

	.subscribe-form input[type="email"] {
	  width: 200px;
	  padding: 8px;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	}

	.subscribe-form button {
	  padding: 8px 16px;
	  background-color: #555;
	  color: #fff;
	  border: none;
	  border-radius: 4px;
	  margin-left: 10px;
	  cursor: pointer;
	}

	.footer-bottom {
	  background-color: #333;
	  color: #fff;
	  padding: 20px 0;
	  text-align: center;
	}

	.footer-bottom p {
	  margin: 0;
	}


	/* CSS for the table */
	table {
	  width: 100%;
	  border-collapse: collapse;
	}

	th, td {
	  padding: 8px;
	  text-align: left;
	  border-bottom: 1px solid #ddd;
	}

	th {
	  background-color: #f2f2f2;
	}

	/* CSS for the buttons */
	.button {
	  padding: 8px 16px;
	  border-radius: 4px;
	  cursor: pointer;
	}

	.button-primary {
	  background-color: #007bff;
	  color: #fff;
	}

	.button-danger {
	  background-color: #dc3545;
	  color: #fff;
	}

	.button-warning {
	  background-color: #ffc107;
	  color: #000;
	}

	/* CSS for the modal */
	.modal {
	  display: none;
	  position: fixed;
	  z-index: 1;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  background-color: rgba(0,0,0,0.4);
	}

	.modal-content {
	  background-color: #fff;
	  margin: 15% auto;
	  padding: 20px;
	  border: 1px solid #888;
	  width: 80%;
	}

	.modal-header h2 {
	  margin-top: 0;
	}

	.modal-body {
	  padding-top: 20px;
	}

	.modal-footer {
	  padding-top: 20px;
	  text-align: right;
	}

	.modal-footer .button {
	  margin-left: 5px;
	}
